.DS_Store
appengine-try-java/
communication/
html/
latex/
Doxyfile
*wiki
*~

#ide config
.idea

#packages
vendor/

#Configuration File
local.yml

*.swp
serverInfo.txt

#Tmp folder
*/tmp
vendor/
.idea/

