
/* 
 * GENERICS
 */

body {
    font-family: 'Lato', san-serif;
    font-size: 100%;
}

input {
    width: 25px;
}

p {
    display: inline;
    margin-left: 0.6em;
}

h1 {
    font-family: 'Varela Round', san-serif;
    font-size: 200%;
}

ul {
    list-style: none;
    margin-left: 0.6em;
    padding: 0;
}

li span {
    position: relative;
    left: -5px;
}

div {
    margin-top: 0;
}

/*
 * CLASSES
 */

/* DIVS */

div.buttons {
    display: block;
    float: right;
}

div.info {
    padding-top:3px;
    padding-right: 5px;
    padding-left: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid silver;
    background-color: #f5f5f5;
    overflow: auto;
}

div.settings {
    padding-left: 20px;
}

div.subsection {
    float: left;
    margin-left: 10px;
}

div.menubar {
    height: 60px;
}

div.side-by-side {
    float: left;
}

/* UNORDERED LISTS */

/* Each list item in a menubar is horizontal */
ul.menu {
    margin: 0;
    padding-left:0;
    height: 0;
}

ul.menu li {
    display: inline-block;
    margin-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-right: 37px;
}

li.selected {
    background-color: #ff0066;
    color: white;
}

li.disconnected {
    list-style-type: circle;
}

/* ---------------------------------------------------------- */

/* PARAGRAPHS */

/* menuitem class */
p.menuitem {
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 0;
    border: 2px solid gray;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

p.menuitem:hover, .shadow {
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}

p.menuitem span {
    display:none
}

p.menuitem:hover span {
    display: block;
    position: absolute;
    top: 40px;
    padding: 3px;
    border: 1px solid #f06;    
    background-color: #f5f5f5;
}

p.error {
    font-style: italic;
    font-size: 90%
}

p.warning {
    color: #ff0066;
    font-size: 90%
}

p.info, p.serial {
    color: gray;
    font-size: 90%
}

p.serial {
   -moz-user-select: text;
   -khtml-user-select: auto;
   -webkit-user-select: auto ;
   -ms-user-select: auto;
   user-select: auto;
}

/* local_device class */
span.local_device {
    color: gray;
    cursor: default;
}

span.selected {
    background-color: #ff0066;
    color: white;
}

span.local_device:hover {
    background-color: black;
    color: white;
}

.no_top_margin {
    margin-top:0;
    margin-bottom:0;
}

/* ---------------------------------------------------------- 
 * UNIQUE IDENTIFIERS
 */

/* For the menubar, set the images for * specific menu elements */
p#clearexp {
    background-image:url('../icons/disable.png');
}

p#connect {
    background-image:url('../icons/add.png');
}

p#disable {
    background-image:url('../icons/disable.png');
}

p#go {
    background-image:url('../icons/go.png');
}

p#refresh {
    background-image:url('../icons/refresh.png');
}

p#remove {
    background-image:url('../icons/remove.png');
}

p#save {
    background-image:url('../icons/save.png');
}

p#setup {
    background-image:url('../icons/setup.png');
}

p#stop {
    background-image:url('../icons/stop.png');
}

p#trash {
    background-image:url('../icons/trash.png');
}
p#upload {
    background-image:url('../icons/push.png');
}


/* DIVS */

div#advanced {
}

div#local_devices, div#alerts, div#setup_experiment {
    width: 320px;
}

div#exp_window, div#local_devices {
    height: 110px;
}

div#serial {
    height: 150px;
}

div#alerts p {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

div#exp_window {
    width: 430px;
}

div#data_window, div#setup_experiment {
    width: 430px;
}

div#data_window {
    overflow:visible;
}

div#exp_list_div {
    margin-left: 1%;
    width:29%;
    height: 100%;
    overflow: auto;
}

div#exp_data_div {
    width: 70%;
    height: 100%;
    overflow: auto;
}

div#exp_settings {
    position:relative
    margin-top: 25px;
    display: block;
}

div#data_window, div#alerts {
    height: 200px;
}

div#setup_experiment {
    border: 1px solid white;
    padding-top: 0;
    background-color: #ffeef5;
    height: 0;
    font-size: 90%
    opacity: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition-property: all;
    -webkit-transition-duration: 350ms;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-delay: 0s;
    /* Standard syntax */
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    overflow: hidden;
}

/* ULS */

ul#local_devices_list {
    padding-left: 1em;
}

ul#local_devices_list li.connected {
    list-style-type: disc;
}

ul#local_devices_list li.connected.experiment::after {
    content: " (e)"
}

ul#local_devices_list li.experiment::after {
    content: " (e)"
}

ul#alerts_list p {
    border-bottom: 1px solid silver;
}

ul#exp_list {
    display: block;
}

/* Data table header */
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
