
/* 
 * GENERICS
 */

body {
    padding: 1em;
    font-family: 'Lato', san-serif;
    font-size: 102%;
}

p {
    display: inline;
}

h1 {
    font-family: 'Varela Round', san-serif;
    font-size: 200%;
}

ul {
    list-style: none;
    margin-left: 0.75em;
}

li span {
    position: relative;
    left: -5px;
}

/*
 * CLASSES
 */

/* DIVS */

div.window {
    padding-top: 3px;
}

div.subsection {
    float: left;
    margin-left: 10px;
}

div.menubar {
    height: 60px;
}

/* UNORDERED LISTS */

/* Each list item in a menubar is horizontal */
ul.menu {
    margin: 0;
    padding-left:0;
}

ul.menu li {
    display: inline-block;
    margin-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-right: 37px;
}

li.connected {
    list-style-type: disc;
}

/* ---------------------------------------------------------- */

/* PARAGRAPHS */

/* menuitem class */
p.menuitem {
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 0;
    border: 2px solid gray;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

p.menuitem:hover, .shadow {
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}

p.menuitem span {
    display:none
}

p.menuitem:hover span {
    display: block;
    position: absolute;
    top: 40px;
    padding: 3px;
    border: 1px solid #f06;    
    background-color: #f5f5f5;
}

/* local_device class */
span.local_device {
    color: gray;
    cursor: default;
}

span.selected {
    background-color: #ff0066;
    color: white;
}

span.local_device:hover {
    background-color: black;
    color: white;
}

/* ---------------------------------------------------------- 
 * UNIQUE IDENTIFIERS
 */

/* For the menubar, set the images for * specific menu elements */
p#add {
    background-image:url('../icons/add.png');
}

p#delete {
    background-image:url('../icons/delete.png');
}

p#connect {
    background-image:url('../icons/connect.png');
}

p#disconnect {
    background-image:url('../icons/disconnect.png');
}

p#register {
    background-image:url('../icons/register.png');    
}

p#refresh {
    background-image:url('../icons/refresh.png');
}

p#trash {
    background-image:url('../icons/trash.png');
}

p#save {
    background-image:url('../icons/save.png');
}


/* DIVS */

div#local_devices {
    width: 280px;
    height: 200px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid silver;
    background-color: #f5f5f5;
    overflow: auto;
}

div#data_window {
    width: 400px;
    height: 500px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid silver;
    background-color: #f5f5f5;
    overflow: auto;
}

div#errors {
    width: 220px;
    color: #ff0066
}

div#errors p {
    display: block;
}

ul#local_devices_list {
    padding-left: 1em;
}
